<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bus.busapp">

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BusApp">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SanAca"></activity>
        <activity android:name=".SanHome"></activity>
        <activity android:name=".SanSchool"></activity>
        <activity android:name=".StationInfoActivity"
            android:windowSoftInputMode="adjustNothing"></activity>
        <activity android:name=".Station"></activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

</manifest>